<div class="stepsdemo-content">
	<p-card>
		<ng-template pTemplate="title">
			Compte utilisateur
		</ng-template>
		<ng-template pTemplate="subtitle">
			Veuillez entrer vos informations d'idenification
		</ng-template>
		<ng-template pTemplate="content">
			<div class="p-fluid form-grid grid">
				<br>
				<br>
				<div class="field">
					<label for="username">Nom d'utilisateur</label>
					<input #username="ngModel" id="username" type="text" required pInputText [(ngModel)]="user.username"
						[ngClass]="{'ng-dirty': (username.invalid && submitted) || (username.dirty && username.invalid)}">
					<small *ngIf="(username.invalid && submitted) || (username.dirty && username.invalid)"
						class="p-error">Le nom d'utilisateur est requis.</small>
				</div>
				<div class="field">
					<label for="email">E-mail</label>
					<input #email="ngModel" id="email" type="email" required pInputText [(ngModel)]="user.email"
						[ngClass]="{'ng-dirty': (email.invalid && submitted) || (email.dirty && email.invalid)}">
					<small class="p-error" *ngIf="(email.invalid && submitted )|| (email.dirty && email.invalid)">L'e-mail
						est invalide.</small>
				</div>
				<div class="field">
					<label for="password">Mot de passe</label>
					<input #password="ngModel" id="password" type="password" required minlength="6" pInputText
						[(ngModel)]="user.password"
						[ngClass]="{'ng-dirty': (password.invalid && submitted) || (password.dirty && password.invalid)}">
					<small class="p-error"
						*ngIf="(password.invalid && submitted) || (password.dirty && password.invalid)">Le mot de passe est
						requis.</small>
				</div>
				<div class="field">
					<label for="password_confirmation">Confirmation du mot de passe</label>
					<input #password_confirmation="ngModel" id="password_confirmation" type="password" required
						minlength="6" pInputText [(ngModel)]="user.password_confirmation"
						[ngClass]="{'ng-dirty': password != password_confirmation }">
					<small class="p-error"
						*ngIf="(password && password_confirmation && password != password_confirmation) && false">Le
						mot de passe et sa confirmation ne correspondent pas.</small>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="footer">
			<div class="grid grid-nogutter justify-content-end">
				<p-button label="Suivant" ngClass="p-button-success" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
			</div>
		</ng-template>
	</p-card>
</div>
