.field {
	padding-top: .5em;
	padding-bottom: .5em;
	max-width: 500px;
	margin-inline: auto;
}
.justify-content-end {
	display: flex;
	flex-direction: row;
	justify-content: end;
}
.stepsdemo-content {
	margin-bottom: 2em;
}
