<br>
<p-fieldset legend="Nightwalker Yao">
	<div class="row">
		<div class="photo-col">
			<img src="/assets/images/users/blank.png" alt="" width="128">
		</div>
		<div class="details-col">
			<h1 class="title">Aspirant <em>Développeur backend</em> et technologies associées</h1>
			<div class="summary">
				<p>
					<i class="pi pi-book"></i> <span>Apprend <b>Node.js</b> et <b>MongoDB</b></span>
				</p>
				<p>
					<i class="pi pi-envelope"></i> <span>nw.yao@devs.club</span>
				</p>
				<p>
					<i class="pi pi-map-marker"></i> <span>Abidjan, CIV</span>
				</p>
			</div>
		</div>
	</div>
</p-fieldset>
<br>
<div class="card">
	<p-tabView styleClass="tabview-custom">
		<p-tabPanel header="Compétences">
			<ng-template pTemplate="header">
				<i class="pi pi-tag"></i>
				<span style="margin-left: .7em;">Compétences</span>
			</ng-template>
			<div class="card">
				<div class="row skills-block">
					<div class="skill-card" *ngFor="let skill of skills">
						<div class="skill-grid-item card">
							<div class="skill-grid-item-content">
								<img [src]="skill.techno.logo"
									[alt]="skill.techno.name" width="128" />
								<div class="skill-name">{{skill.techno.name}}</div>
								<div class="skill-description">{{skill.experience}} ans d'experience</div>
								<p-rating [ngModel]="skill.level" [readonly]="true" [cancel]="false"></p-rating>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Projets">
			<ng-template pTemplate="header">
				<i class="pi pi-book"></i>
				<span style="margin-left: .7em;">Cours</span>
			</ng-template>
			<div class="card">
				<div class="projects">
					<div class="project-item p1" style="background-image: url('/assets/images/p1.jpg');">
						<div class="col about-project">
							<h2>A random course I am learning</h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, tempore. Doloremque quaerat aut cupiditate hic illo, consectetur dolorum, soluta, sed molestias rerum maxime exercitationem nobis mollitia cumque sint quia aperiam?</p>
							<div class="project-numbers">
								<div class="row">
									<div class="col">
										<i class="pi pi-heart"></i>
										560
									</div>
									<div class="col">
										<i class="pi pi-star-fill"></i>
										1,980
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="project-item p2" style="background-image: url('/assets/images/p2.webp');">
						<div class="col about-project">
							<h2>A random course I am learning</h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, tempore. Doloremque quaerat aut cupiditate hic illo, consectetur dolorum, soluta, sed molestias rerum maxime exercitationem nobis mollitia cumque sint quia aperiam?</p>
							<div class="project-numbers">
								<div class="row">
									<div class="col">
										<i class="pi pi-heart"></i>
										560
									</div>
									<div class="col">
										<i class="pi pi-star-fill"></i>
										1,980
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="project-item p3" style="background-image: url('/assets/images/p3.jpg');">
						<div class="col about-project">
							<h2>A random course I am learning</h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, tempore. Doloremque quaerat aut cupiditate hic illo, consectetur dolorum, soluta, sed molestias rerum maxime exercitationem nobis mollitia cumque sint quia aperiam?</p>
							<div class="project-numbers">
								<div class="row">
									<div class="col">
										<i class="pi pi-heart"></i>
										560
									</div>
									<div class="col">
										<i class="pi pi-star-fill"></i>
										1,980
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="project-item p4" style="background-image: url('/assets/images/p4.webp');">
						<div class="col about-project">
							<h2>A random course I am learning</h2>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, tempore. Doloremque quaerat aut cupiditate hic illo, consectetur dolorum, soluta, sed molestias rerum maxime exercitationem nobis mollitia cumque sint quia aperiam?</p>
							<div class="project-numbers">
								<div class="row">
									<div class="col">
										<i class="pi pi-heart"></i>
										560
									</div>
									<div class="col">
										<i class="pi pi-star-fill"></i>
										1,980
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Badges">
			<ng-template pTemplate="header">
				<i class="pi pi-verified"></i>
				<span style="margin-left: .7em;">Badges</span>
			</ng-template>
			<p-messages severity="info">
				<ng-template pTemplate>
					<img src="https://i.postimg.cc/7LFgncR4/fox.png" width="32" />
					<div class="ml-2">Vous avez actuellement <b>123 dc</b>. Vous pouvez les <a href="#" class="text-orange-300"><b>convertir</b></a> ou bien <a href="#" class="text-orange-300"><b>en acheter</b></a> quand vous le souhaitez.</div>
				</ng-template>
			</p-messages>
			<div class="badges-list">
				<div class="badge-item">
					<i class="pi pi-circle-fill mr-4 p-text-secondary" pBadge [value]="'4'" severity="info"></i>
					<p>Merci 1x</p>
				</div>
				<div class="badge-item">
					<i class="pi pi-box mr-4 p-text-secondary" pBadge [value]="'7'" severity="info"></i>
					<p>Merci 2x</p>
				</div>
				<div class="badge-item">
					<i class="pi pi-bitcoin mr-4 p-text-secondary" pBadge [value]="'13'" severity="warning"></i>
					<p>Merci 5x</p>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Avis">
			<ng-template pTemplate="header">
				<i class="pi pi-comments"></i>
				<span style="margin-left: .7em;">Avis</span>
			</ng-template>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
				atque corrupti quos dolores et quas molestias excepturi sint occaecati
				cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
				dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
				Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
		</p-tabPanel>
	</p-tabView>
</div>
